*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 133px 0;
  margin-left: 30px;
}

.result {
  margin-right: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  justify-items: stretch;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__label:has(.search-form__textfield) {
  width: 225px;
}

.search-form__textfield {
  width: 100%;
  appearance: none;
  padding-inline: 0;
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
}

.search-form__textfield:focus {
  outline: none;
}
 
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
}

.search-form__checkbox-list .search-form__label:not(:last-child) {
  margin-right: 15px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  position: relative;
  border: 1px solid white;
  margin-right: 5px;
}

input:active + span.search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  position: absolute;
  inset: 1px;
  width: 15px;
  height: 15px;
  background-color: white;
} 

.button {
  padding: 6px 0;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: white;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
}

button:active {
  background-color: #545050;

}

button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  padding-right: 30px;
  overflow: auto;
  /* СКрыть полосу прокрутки в IE, Edge и Firefox */
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

/* СКрыть полосу прокрутки в Chrome, Safari и Opera */
.content__list::-webkit-scrollbar {
  display: none;
}

.content__list .content__list-item:not(:last-child) {   /* does not work for now */
  margin-bottom: 30px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  padding: 2px 0;
  margin: 3px;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content-card-link:focus {
  outline: none;
}

.content-card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title {
  margin-bottom: 19px;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80);
}
